* {
    margin: 0;
    background-color: black;
    color: skyblue;
    padding: 0;
}
*:hover {
    color: crimson;
    cursor: default;
}
*::selection {
    background-color: transparent;
}
a {
    text-decoration: none;
}
html {
    
}
body {
    font-family: Quicksand Light;
}
header {
    border-bottom: 4px solid skyblue;
}
header a h1 {
    padding: 10px;
    font-size: 50px;
    text-align: center;
}